<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="shortcut icon" href="static/images/gryphonicon.ico">
  <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard.css') }}>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- For Chartist API -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Default Title</title>
  {% endif %}

</head>

<body>

  <!-- This section adds the title section and to dropdown menu -->
  <nav class="navbar navbar-light p-3 dashboard-header">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
      <a class="navbar-brand" href={{ url_for('home')}}>
        <h4 style="color: #fff">DorkLab</h4>
      </a>
      <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
      <div class="dropdown ">
        <button class="btn  bg-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Resources
        </button>
        <ul class="dropdown-menu dropdown-menu-end  " aria-labelledby="dropdownMenuButton">
          {% block dashboard_choice%}{% endblock %}
          <li><a class="dropdown-item ghost-button-blue" target="_blank" href="https://osintframework.com/">OSINT Framework</a></li>
          <li><a class="dropdown-item ghost-button-blue" target="_blank" href="https://github.com/bellingcat/">Bellingcat Tools</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- This section adds the sidebar - information to be added on individual pages -->
  <div class="container">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-md-5">
          <ul class="nav flex-column">
            <h3 class="horizontal-auto-margin">Tools</h3>

              <hr>

              <li class="nav-item">
                  <a class="nav-link ghost-button-blue" aria-current="page" href="{{ url_for('quicksearch') }}">
                      <span class="ml-2">Quick Search</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link ghost-button-blue" aria-current="page" href="{{ url_for('home') }}">
                      <span class="ml-2">Search dashboard</span>
                  </a>
              </li>
              <hr>

              </ul>          
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4" style="margin-left: 200px">
        {% block content %}
          {% block search_links %}{% endblock %}
        {% endblock %}
        
      </main>
    </div>
  </div>


  <!-- For Bootstrap API -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>