
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

	<!-- For Roboto font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	{% if title %}
		<title>{{title}}</title>
	{% else %}
		<title>Default Title</title>
	{% endif %}

	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}"> -->


</head>
<body>

	<div style='background-color: #000000'>
		<nav class="container_fluid">
			<div class='row'>
				<div class="col-6" id="nav_bar_l">	
					{% block topnavleft %}{% endblock %}
				</div>
				<div class="col-sm-6" id="nav_bar">
					<ul id="menu">
						<li><a href="https://github.com/" target="_blank"><img src="{{ url_for('static', filename='images/github.ico') }}" style="height: 25px"></a></li>
						<li>|</li>
						<li><a href= "{{ url_for('landing') }}">Landing</a></li>
						<li>|</li>
						<li><a href= "{{ url_for('dashboard') }}">Dashboard Template</a></li>
						<li>|</li>
						<li><a href= "{{ url_for('references') }}">References</a></li>
					</ul>
				</div>
			</div>
		</nav>
		{% block content %}{% endblock %}
	</div>

	<div class="container-fluid separator"></div>

	<footer class="container-fluid">
		<div class="leftcol left-footer">
			<p>Contributors:</p>
				<ul >
					<li>Ryan Willett</li>
					<li>Karlyn Galante</li>
					<li>Ally Petitt</li>
				</ul>
		</div>
		<div class="rightcol left-footer">
					<p>Bellingcat: Hackathon #3 (April 21-23, 2023)</p>

		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>



</body>
</html>