/* Start - Side Bar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
    }
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #eaebec;
}


/* End - Side Bar */

.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

.dashboard-header {
    background-color: #000000;
    color: #fff;
}

.gryph-dash-title {
    color: #000000;
}


/* Margins */

.horizontal-auto-margin {
    margin-left: auto;
    margin-right: auto;
}


/* Buttons */

.nerdoc-button {
    background-color: #000000;
    color: #fff;
}


/* Links */

a:link {
    text-decoration: none;
}

a:link:hover {
    color: #042430;
    text-decoration: none;
}


/* General Color Adjustment */

.ghost-button-blue {
    color: #000000 !important;
    text-decoration: none;
    background: bg-light;
    display: inline-block;
    transition: all 0 ease 0s;
}

.ghost-button-blue:hover {
    color: #ffffff !important;
    background: #003142 !important;
    transition: all 0 ease 0s;
}

.text_align_center {
    /* Center horizontally*/
    text-align: center;
}

.fancy_container {
    font-family: inherit;
    font-size: 16px;
    margin: 25px;
    width: 350px;
    height: 150px;
    background: #eaebec;
    outline: solid 2px black;
}

.left_padding_55px {
    padding-left: 55px;
}

.right_padding_55px {
    padding-right: 55px;
}

.input-wrapper div {
    margin-bottom: 10px;
} 

.remove-select {
    margin-top: 10px;
    width: 10.593px;
    vertical-align: text-bottom;
}

.add-select {
    margin-top: 10px;
    vertical-align: text-bottom;
}

#add_jur {
    vertical-align: middle;
}

option {
    color: black;
}

option:first {
    color: #999;
}

.gbtn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #042430;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.gbtn-neg {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #042430;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.gbtn-rem {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #042430;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .90rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.gbtn:hover {
    background-color:#000000;
    color: white;
}

.gbtn-neg:hover {
    background-color: red;
    color: white;
}

.greyfield {
    padding: 10px;
    background-color: #eaf0edf3; 
    /* outline-style: solid; 
    outline-color: #bcbcbc */
}

div.sel-2-div {
    display: none;
    width: 50%;
}

/* styling for flags */

input.flag[type="checkbox"] {
    display: none;
}

label.flag::before {
    content: url(../../static/images/nocol_flag_16px.png);
    cursor: pointer;
}

:checked + label.flag::before {
    content: url(../../static/images/color_flag_16px.png);
}

ul.cols-2 {
    column-count: 2;
    column-gap: 2rem;
    list-style: none;
  }

.gryphon-checklist input:checked {
    background-color: #042430;
  }

.hidden-form {
    display: none;
}

/* Modal stuff for comments */
.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

.comment-input {
    margin: auto;
    padding: 0 15px;
    
}

.comment-thread {
    max-width: 100%;
    margin: auto;
    
    background-color: #fff;
    border: 1px solid transparent;
}

.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 4.5px;
    display: inline-block;
}

.comment {
    position: relative;
    margin: 20px auto;
}

.comment-heading {
    display: flex;
    align-items: center;
    height: 16px;
}

.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.comment-body {
    padding: 0 15px;
    padding-left: 10px;
    word-break: normal;
}

.comment-tip {
    font-size: 8px; 
    color: gray; 
    margin-bottom: 0%;
}

.flag-col {
    width: 25px;
}

.comment-col {
    width: 100px;
    text-align: center;
}


/*  On & Off toggle switch CSS 
    Currently utilized in navigation bar for Time Tracking
*/

.switch-toggle {
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

  }
  .switch-btn, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .button-check {
    position: relative;
    width: 60px;
    height: 30px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  .switch-btn {
    z-index: 2;
  }
.layer {
    width: 100%;
    background-color: #000000;
    transition: 0.3s ease all;
    z-index: 1;
  }
/* The switch - the box around the slider */
#button-check .switch-btn:before, #button-check .switch-btn:after {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 30px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #2d7a00 ;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #button-check .switch-btn:before {
    content: 'ON';
  }
  #button-check .switch-btn:after {
    content: 'OFF';
  }
  #button-check .switch-btn:after {
    right: -50px;
    left: auto;
    background-color: #bd0d00;
  }
  #button-check .checkbox:checked + .switch-btn:before {
    left: -50px;
  }
  #button-check .checkbox:checked + .switch-btn:after {
    right: 3px;
  }
  #button-check .checkbox:checked ~ .layer {
    background-color: #000000;
  }
  

  /*  */
  /*  */

  /* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}