{% extends 'base_templates/dashboard_base.html' %}

{%block dashboard_choice%}
{%endblock%}

{% block content %}

<main class="main-center">
    <div class="container">
        <h2>Enter Search Parameters</h2>
        <form action="post_dork_inputs" method="POST">
            {{ form.csrf_token }}
            
            <div class="form-group">
                {{ form.root_terms.label(class_ = 'col-sm-2 col-form-label-lg') }}
                <div class = "col-sm-6">
                    {{ form.root_terms(class_ = 'form-control') }}
                </div>
            </div>

            <div class="form-group">
                {{ form.start_date.label(class_ = 'col-sm-2 col-form-label-lg') }}
                <div class = "col-sm-6">
                    {{ form.start_date(class_ = 'form-control') }}
                </div>
            </div>

            <div class="form-group">
                {{ form.end_date.label(class_ = 'col-sm-2 col-form-label-lg') }}
                <div class = "col-sm-6">
                    {{ form.end_date(class_ = 'form-control') }}
                </div>
            </div>

            <!-- https://stackoverflow.com/questions/53344797/how-create-an-array-with-checkboxes-in-flask -->
            <div>
                <input type="checkbox" value="pdf" class="danger" id="doc_pdf" name='filetypes'>
                <label for="doc_pdf">PDF</label>
            </div>
            <div>
                <input type="checkbox" value="txt" class="danger" id="txt" name='filetypes'>
                <label for="doc_txt">txt</label>
            </div>
        


            <div class="form-group">
                <div class = "col-sm-6">
                    {{ form.submit(class_ = 'form-control') }}
                </div>
            </div>

        </form>
    </div>
</main>

{% endblock %}