
{% extends 'base_templates/dashboard_base.html' %}
{% block title %}{% endblock %}

{% block testing %}
<h3 class="horizontal-auto-margin">Tools</h3>

<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" href={{ url_for('landing')}}>
        <span class="ml-2">Home</span>
    </a>
</li>

<hr>

<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" onclick="addFormElement">
        <span class="ml-2">Add a term</span><span>+</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" onclick="addFormElement">
        <span class="ml-2">Tab 2</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" onclick="addFormElement">
        <span class="ml-2">Tab 3</span>
    </a>
</li>
<hr>

</ul>
{% endblock %}

{% block content %}
<main class="main-center">

	
	{% if form %}
	<form action="post_dork_inputs" method="POST" class="container">
		
		{{ form.hidden_tag() }}

		<section id="root_terms" class="row">
			<h3 class="h4 mt-5 px-0">Filter by Terms</h3>
			<div class="form-group">
				{{ form.root_terms.label(class_ = 'col-form-label-md px-0') }} <br />
				{{ form.root_terms(class_ = 'form-control', placeholder="Search something...") }}
			</div>
		</section>

		<section id="timePeriod" class="row">
			<h3 class="h4 mt-5 px-0">Filter by Time Period</h3>
			<div class="form-group">
				{{ form.start_date.label(class_ = 'col-form-label-md px-0') }}
				{{ form.start_date(class_ = 'form-control') }}
			</div>

			<div class="form-group">
				{{ form.end_date.label(class_ = 'col-form-label-md px-0') }}
				{{ form.end_date(class_ = 'form-control') }}
			</div>
		</section>

		<section>
			<h3 class="h4 mt-5 px-0">File Types</h3>
			<div class="form-group">
				<div>
					<input type="checkbox" value="pdf" class="danger" id="doc_pdf" name='filetypes'>
					<label for="doc_pdf">PDF</label>
				</div>
				<div>
					<input type="checkbox" value="txt" class="danger" id="doc_txt" name='filetypes'>
					<label for="doc_txt">TXT</label>
				</div>
				<div>
					<input type="checkbox" value="csv" class="danger" id="doc_csv" name='filetypes'>
					<label for="doc_csv">CSV</label>
				</div>
				<div>
					<input type="checkbox" value="docx" class="danger" id="doc_docx" name='filetypes'>
					<label for="doc_docx">DOCX</label>
				</div>
				<div>
					<input type="checkbox" value="json" class="danger" id="doc_json" name='filetypes'>
					<label for="doc_json">JSON</label>
				</div>
			</div>
			
		</section>

		<section>
			<!-- <h3 class="h4 mt-5 px-0">Include Links to:</h3> -->

			<div class="form-group">

				<!-- <div>
					<input type="checkbox" value="google" class="danger" id="se_google" name="search_engines">
					<label for="se_google">Google</label>
				</div>
				<div>
					<input type="checkbox" value="yandex" class="danger" id="se_yandex" name="search_engines">
					<label for="se_yandex">Yandex</label>
				</div> -->
				<!-- {{ form.search_engines }} -->
			</div>


		</section>


		{{ form.submit(class_ = 'form-control mt-5 btn btn-outline-dark') }}

	</form>
	{% endif %}

	{% block search_links %}
		{% if results %}
		<h1 class="py-4">Your Results Are Below</h1>

		
		<a href="{{results['google']}}" class="btn btn-outline-primary">Google Search</a>
		<a href="{{results['yandex']}}" class="btn btn-outline-primary">Yandex Search</a>

		{% endif %}
	{% endblock %}

</main>

{% endblock %}