{% extends 'base_templates/dashboard_base.html' %}

{%block dashboard_choice%}
{%endblock%}


{% block testing %}
<h3 class="horizontal-auto-margin">Tools</h3>



<hr>

<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" href="http://www.google.com">
        <span class="ml-2">Tab 1</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" href="http://www.google.com">
        <span class="ml-2">Tab 2</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" href="http://www.google.com">
        <span class="ml-2">Tab 3</span>
    </a>
</li>
<hr>

</ul>
{% endblock %}

{% block content %}

<main class="main-center">
    <div class="container">
        <h2>Quicksearch</h2>
        <form action="post_q" method="POST">
            {{ form.csrf_token }}
            
            <div class="form-group">
                {{ form.q.label(class_ = 'col-sm-6 col-form-label-lg') }}
                <div class = "col-sm-12">
                    {{ form.q(class_ = 'form-control') }}
                </div>
            </div>

            <div class="form-group">
                <div class = "col-sm-2">
                    {{ form.submit(class_ = 'form-control') }}
                </div>
            </div>

        </form>
    </div>
</main>

{% endblock %}